<section id="about" class="p-8 md:p-16 lg:p-36 my-8">
    <h2 class="text-3xl font-extrabold mb-6 text-center">Daniel Gaona</h2>
    <p class="text-lg mb-6">
        Soy un desarrollador web apasionado por crear experiencias digitales únicas y funcionales. Tengo experiencia en diversas tecnologías como HTML, CSS, JavaScript, y frameworks modernos como React y Astro. Me encanta aprender y estar al día con las últimas tendencias en desarrollo web.
    </p>
    <p class="text-lg">
        Mi objetivo es siempre entregar productos de alta calidad que no solo cumplan con los requisitos del cliente, sino que también superen sus expectativas. En mi tiempo libre, disfruto explorando nuevas tecnologías, contribuyendo a proyectos de código abierto y compartiendo conocimientos con la comunidad.
    </p>
    <div class="flex space-x-4 mt-6 justify-center">
        <i class="fab fa-html5 text-4xl text-orange-600"></i>
        <i class="fab fa-css3-alt text-4xl text-blue-600"></i>
        <i class="fab fa-js text-4xl text-yellow-500"></i>
        <i class="fab fa-react text-4xl text-blue-500"></i>
        <i class="fab fa-node text-4xl text-green-500"></i>
    </div>
</section>
