---
import photoGif from '../assets/programming.gif';
---
<section id="about" class="px-8 md:px-16 lg:px-36 pt-4 pb-48 my-20 flex flex-col lg:flex-row items-center lg:items-start">
    <div class="lg:w-2/3">
        <h2 class="text-5xl font-extrabold mb-6 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">
            Sobre mi
        </h2>
        <p class="text-lg mb-6">
            Me llamo Daniel Gaona y soy un desarrollador web apasionado por aprender. Mi amor por la tecnología surgió a través de los videojuegos y la computación, y desde entonces he estado dedicado a mejorar mis habilidades y conocimientos en este campo.
        </p>
        <p class="text-lg mb-6">
            Mi objetivo es crecer como profesional y seguir capacitándome para ofrecer un mejor rendimiento como desarrollador. Estoy comprometido con la creación de experiencias digitales únicas y funcionales, y siempre busco superar las expectativas en cada proyecto en el que trabajo.
        </p>
    </div>
    <div class="lg:w-1/3 flex justify-center py-16">
        <img src={photoGif.src} alt="Photo" class="w-80 h-60 mb-5 lg:mb-0 lg:ml-6 rounded-lg" />
    </div>
</section>
