<section id="education" class="p-8 bg-white shadow-lg rounded-lg my-8 mx-4 md:mx-16 lg:mx-36">
    <div class="flex flex-col md:flex-row items-start">
        <div class="w-full md:w-1/4 bg-gray-800 text-white p-4 md:p-6 rounded-lg md:rounded-r-none flex items-center justify-center">
            <h2 class="text-xl md:text-2x">Educación</h2>
        </div>
        <div class="w-full md:w-3/4 p-4 md:p-6 md:pl-10">
            <div class="mb-8">
                <h3 class="text-lg md:text-xl ">VIU - Universidad Internacional de Valencia</h3>
                <p class="text-gray-600">Marzo 2025 - Cursando</p>
                <p class="text-gray-800">
                    Master of Computer Applications - MCA, Desarrollo de aplicaciones web.
                </p>
            </div>
            <div class="mb-8">
                <h3 class="text-lg md:text-xl ">Universidad Pedagógica y Tecnológica de Colombia</h3>
                <p class="text-gray-600">Agosto 2022 - Julio 2023</p>
                <p class="text-gray-800">
                    Especialización en Bases de Datos
                </p>
            </div>
            <div class="mb-8">
                <h3 class="text-lg md:text-xl ">Universidad Pedagógica y Tecnológica de Colombia</h3>
                <p class="text-gray-600">Agosto 2015 - Febrero 2023</p>
                <p class="text-gray-800">
                    Ingeniería en sistemas y computación, Ingeniería de sistemas
                </p>
            </div>
        </div>
    </div>
</section>