<header class="flex justify-center items-center">
    <nav class="flex gap-5">
        <a href="#about">Sobre mí</a>
        <a href="#projects">Experiencia</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>
